<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <h2>Lista de Médicos</h2>
    <a href="/medicos/novo">Novo Médico</a>
    <a href="/">Voltar ao Menu</a>
    <br><br>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CRM</th>
                <th>Especialidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="med : ${lista}">
                <td th:text="${med.id}">1</td>
                <td th:text="${med.nome}">Dr. House</td>
                <td th:text="${med.crm}">12345</td>
                <td th:text="${med.especialidade.nome}">Infectologia</td>
                <td>
                    <a th:href="@{/medicos/deletar/{id}(id=${med.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>